
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04f070e2b8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Contents/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <header class="">
        <nav id="navbar" class="">
            <div class="offcanvas-menu-overlay"></div>

            <div class="canvas-open menuIcon">
                <span class="icon icon-bars"></span>
                <span class="icon icon-bars overlay"></span>
            </div>
            <div class="offcanvas-menu-wrapper">
                <nav class="main-menu">
                    <center>
                        <h1>
                            <a href="#">Foolog</a>
                        </h1>
                    </center>
                    <ul class="mt-5">
                        <li class="active"><a href="./index.html" rel="nofollow">Home</a></li>
                        <li><a href="#Xidmətlərimiz">Recpies</a></li>
                        <li><a href="#container">Contact</a></li>
                        <li><a href="Login">Login/Sign</a></li>
                    </ul>
                </nav>
            </div>
            <div class="nav-wrapper">
                <div class="logo">
                    <a href="#home"><i class="fas fa-hat-chef"></i>Foolog</a>
                </div>

                <ul id="menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Recpies</a></li>
                    <!--
                    -->
                    <li><a href="#contact">Contact</a></li>
                    <!--
                    -->
                    <li><a href="Home/Login">Login/Sign</a></li>
                    <img src="https://miro.medium.com/focal/1200/1200/48/51/1*k-B13-IWqjtFx09A9LKTkg.jpeg" alt="" width="40px" height="40px" style="border-radius: 50%;">
                </ul>

            </div>

        </nav>
    </header>
    <section class="container text-center">
        @if (ViewBag.detail != null)
        {
            foreach (var item in ViewBag.detail.Rows)
            {
                <h1>@item["BlogTitle"]</h1>

            }
        }
        <div class="row ">
            @if (ViewBag.detail != null)
            {
                foreach (var item in ViewBag.detail.Rows)
                {
                    <div class="col-lg-5 details-img">
                        <img src="~/FoodImages/@item["BlogUrl"]" alt="">
                    </div>

                    <div class="col-lg-7 details-text">
                        <p>
                            @Html.Raw(item["BlogText"])
                        </p>
                    </div>
                }
            }

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 food-tags">
                        <ul>
                            <a href="#">
                                <span class="first-tag">Vegan</span>
                            </a>
                            <a href="#">
                                <li>Breakfast</li>
                            </a>
                            <a href="#">
                                <li>Sweety</li>
                            </a>
                            <a href="#">
                                <li>Carbohidrat</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-7 col-sm-6 col-6 details-likes-comments">
                        <ul>
                            <a href="#">
                                <li>
                                    <i class="far fa-thumbs-up"></i>
                                    <span>123</span>
                                </li>
                            </a>

                            <a href="#">
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>32</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-6 col-6 details-social">
                        <ul>
                            <a href="#">
                                <li>
                                    <i class="far fa-bookmark"></i>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="fab fa-facebook-square"></i>
                                </li>
                            </a>

                            <a href="#">
                                <li>
                                    <i class="fab fa-instagram"></i>
                                </li>
                            </a>

                            <a href="#">
                                <li>
                                    <i class="fab fa-linkedin"></i>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>


                <div class="row">
                    <div class="all-comments  mt-5">
                        <div class="all-comments-inside">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 all-comments-close">
                                        <h6>Respones[14]</h6>
                                        <a href="#">
                                            <i class="fas fa-close"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (ViewBag.comments != null)
                                    {
                                        foreach (var item in ViewBag.comments.Rows)
                                        {
                                            <div class="col-lg-2 pt-4 all-comments-img">
                                                <img src="https://i.guim.co.uk/img/media/b68ee32677173fe677fc8a8d408634e721126f83/850_401_2104_1262/master/2104.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=48fde1c1bef7cbbb64d893b6bbd91ae7" alt="">
                                                <span>Sarah James</span>
                                            </div>
                                            <div class="col-lg-12 text-center all-comments-text">

                                                <p>
                                                    @item["Comment"]
                                                </p>
                                                <a href="#">Reply</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="../../Home/Details" method="post">
                    <div class="row">
                        <div class="add-comment">
                            <textarea name="comments" id="" cols="40" placeholder="Add Your Comment" rows="10"></textarea><br>
                            <a href="#">
                                <input type="submit" value="Send" id="sendcomment">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </section>

    <footer class="mt-5 pt-5">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="first">
                            <h4>Recpies</h4>
                            <p> Vegeterian Recpies</p>
                            <p> Vegan Recpies</p>
                            <p> Meat Recpies</p>
                            <p> Soup Recpies</p>
                            <p> Pasta Recpies</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="second">
                            <h4> Navigate</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Recpies</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="third">
                            <h4> Contact</h4>
                            <ul>
                                <li><i class="far fa-envelope"></i> foolog@mail.ru</li>
                                <li><i class="far fa-envelope"></i> foolog@yahoo.com</li>
                                <li><i class="fas fa-map-marker-alt"></i> London, UK </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="line"></div>
                        <div class="second2">
                            <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-facebook fa-2x margin"></i></a>
                            <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-instagram fa-2x margin"></i></a>
                            <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                            <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin"></i></a>
                        </div>
                        <div class="footer-last-text">
                            <p>
                                Site designed by <a href="#">m7.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="stop" class="scrollTop">
        <span>
            <a href="">
                <i class="fas fa-arrow-up"></i>
            </a>
        </span>
    </div>
    <script type="text/javascript" src="~/Contents/main.js"></script>
</body>
</html>
